@import "tailwindcss";

/*Custom font utility */
@theme {
  --font-rubik: 'Rubik', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-primary: #FFD9C2;
  --color-secondary: #E54981;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

